#root, html, body{
    height: 100vh;
}

body{
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.verticalhorizontal {
    display: table-cell;
    height: 100px;
    text-align: right;
    width: 100px;
    vertical-align: middle;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:10px;
  }

#image-cropped-and-repositioned { width: 250px }

#cropping-container { width: 100px; height: 100px; overflow: hidden; position: relative }

#image-container { position: absolute; left: -75px; top: -25px }
